.images-logo {
    width: 20%;
}
.text-orange {
    color: orangered
}
.font-size {
    font-size: 60px;
}
.price {
    color: orangered;
}
.bg-secondary-shoes {
    background-color: #f1f2f6;

}
.shoping {
    margin-top: 200px;
}
.width-icon {
    width: 10%;
    margin-right: 20px;
}
